In [1]:
#using airthmetic operator 
add=24+66
sub=50-25
multiply=5*4
divison=40/2
floor_div=20//3
expo=3**2
print(add)
print(sub)
print(multiply)
print(divison)
print(floor_div)
print(expo)

90
25
20
20.0
6
9

In [3]:
#using relational operator 
sre="harsh">"raj"
res_1=54<23
res_2=30!=34
res_3=56==29
print(sre,res_1,res_2,res_3)

False False True False

In [5]:
str_1="Python is good"
if "good" in str_1:
    print("it is true ")

it is true

In [6]:
#defining a list 
lst_1=[23,89,60]
for i in lst_1:
    print(i)

23
89
60

In [17]:
#range function 
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [28]:
#string 
str_1="Hindustan"
print(str_1[0:4])
print(str_1[-2])
print(str_1.upper())
print(str_1.lower())
str_1=str_1.replace("n","z")
print(str_1)
str_2="Apple;Banana;Cherry"
str_4=str_2.split(";")
print(str_4)
str_3="Hello evryone"
print(str_3.strip())

Hind
a
HINDUSTAN
hindustan
Hizdustaz
['Apple', 'Banana', 'Cherry']
Hello evryone

In [32]:
#list inside list
list_1=[
         [2,3,6,7,8],
         [67,56,23,46,90]
] 
print(list_1)
print(list_1[1][-3])
print(list_1[0][1])

[[2, 3, 6, 7, 8], [67, 56, 23, 46, 90]]
23
3

In [36]:
#list operation 
list_2=[23,45,122,70]
list_2.append(100)
print(list_2)
list_2.insert(0,12)
print(list_2)
list_2.remove(122)
print(list_2)
list_2.pop(2)
print(list_2)

[23, 45, 122, 70, 100]
[12, 23, 45, 122, 70, 100]
[12, 23, 45, 70, 100]
[12, 23, 70, 100]

In [42]:
list_1 = [ 1,2,3,4,"power", True]
list_2= ["one", "two","Three", "Data", False]
list_3=list_1+list_2
print(list_3)
if "data" in list_3:
    print("YES")
else:
    print("no")

[1, 2, 3, 4, 'power', True, 'one', 'two', 'Three', 'Data', False]
no